.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin-top: -15vh;
}

.hero span {
    color: #FAC565;
}

.hero h1{
    color: #2D3D56;
    font-weight: 200;
    font-size: 4vw;
    padding: 20px;
}

.hero .bear {
    width: 100px;
}

.hero-bottom {
    position: absolute;
    width: 100vw;
    bottom: -10%;
    z-index: -999;
}

.hero-bottom svg {

    object-fit: contain;
}

.hero-items {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    bottom: 10%;
}

.hero-items div{
    padding: 0px 20px;
}

.hero-items img {
    height: 20vh;
}

.cloud {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    top: 20%;
    z-index: -999;
}



.cloud img {
    width: 150px;
    padding-left: 100px;
}